<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Skull1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,38}</string>
                <key>spriteSourceSize</key>
                <string>{40,38}</string>
                <key>textureRect</key>
                <string>{{117,0},{40,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Skull2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,38}</string>
                <key>spriteSourceSize</key>
                <string>{37,38}</string>
                <key>textureRect</key>
                <string>{{157,0},{37,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Skull3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,39}</string>
                <key>textureRect</key>
                <string>{{194,0},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SkullDown1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,52}</string>
                <key>spriteSourceSize</key>
                <string>{37,52}</string>
                <key>textureRect</key>
                <string>{{195,39},{37,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SkullDown2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,61}</string>
                <key>spriteSourceSize</key>
                <string>{43,61}</string>
                <key>textureRect</key>
                <string>{{126,144},{43,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SkullDown3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,53}</string>
                <key>spriteSourceSize</key>
                <string>{41,53}</string>
                <key>textureRect</key>
                <string>{{180,91},{41,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SkullLeft1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,36}</string>
                <key>spriteSourceSize</key>
                <string>{40,36}</string>
                <key>textureRect</key>
                <string>{{40,0},{40,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SkullLeft2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,36}</string>
                <key>spriteSourceSize</key>
                <string>{37,36}</string>
                <key>textureRect</key>
                <string>{{80,0},{37,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SkullLeft3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,35}</string>
                <key>spriteSourceSize</key>
                <string>{40,35}</string>
                <key>textureRect</key>
                <string>{{0,0},{40,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SkullMokadCo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,43}</string>
                <key>spriteSourceSize</key>
                <string>{58,43}</string>
                <key>textureRect</key>
                <string>{{40,39},{58,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SkullSlashL1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,50}</string>
                <key>spriteSourceSize</key>
                <string>{49,50}</string>
                <key>textureRect</key>
                <string>{{98,39},{49,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SkullSlashL2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,52}</string>
                <key>spriteSourceSize</key>
                <string>{70,52}</string>
                <key>textureRect</key>
                <string>{{0,91},{70,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SkullSlashL3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,52}</string>
                <key>spriteSourceSize</key>
                <string>{42,52}</string>
                <key>textureRect</key>
                <string>{{70,91},{42,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SkullSlashR1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,50}</string>
                <key>spriteSourceSize</key>
                <string>{48,50}</string>
                <key>textureRect</key>
                <string>{{147,39},{48,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SkullSlashR2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,52}</string>
                <key>spriteSourceSize</key>
                <string>{68,52}</string>
                <key>textureRect</key>
                <string>{{112,91},{68,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SkullSlashR3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,53}</string>
                <key>spriteSourceSize</key>
                <string>{50,53}</string>
                <key>textureRect</key>
                <string>{{0,144},{50,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SkullUp1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{0,39},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SkullUp2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,57}</string>
                <key>spriteSourceSize</key>
                <string>{37,57}</string>
                <key>textureRect</key>
                <string>{{50,144},{37,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SkullUp3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,57}</string>
                <key>spriteSourceSize</key>
                <string>{39,57}</string>
                <key>textureRect</key>
                <string>{{87,144},{39,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ReaperEnemy.png</string>
            <key>size</key>
            <string>{233,205}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8d224891f755156d4b642e3f1de1eea:fa4cfe052a1e2fccce6ddebc3757e485:f45157778974d2449e0629fe9b861047$</string>
            <key>textureFileName</key>
            <string>ReaperEnemy.png</string>
        </dict>
    </dict>
</plist>
