<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tile000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,59}</string>
                <key>spriteSourceSize</key>
                <string>{16,59}</string>
                <key>textureRect</key>
                <string>{{0,0},{16,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,59}</string>
                <key>spriteSourceSize</key>
                <string>{16,59}</string>
                <key>textureRect</key>
                <string>{{0,59},{16,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,59}</string>
                <key>spriteSourceSize</key>
                <string>{16,59}</string>
                <key>textureRect</key>
                <string>{{0,118},{16,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,59}</string>
                <key>spriteSourceSize</key>
                <string>{16,59}</string>
                <key>textureRect</key>
                <string>{{0,177},{16,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,59}</string>
                <key>spriteSourceSize</key>
                <string>{16,59}</string>
                <key>textureRect</key>
                <string>{{0,236},{16,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,59}</string>
                <key>spriteSourceSize</key>
                <string>{16,59}</string>
                <key>textureRect</key>
                <string>{{0,295},{16,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>WaterfallLoop.png</string>
            <key>size</key>
            <string>{16,354}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40f5af0e857a52dea8efe6fd585153d0:9c88795d36f0d191e3cdb5d186502b3a:ac4c831e04b9f34892a7e58afe7b2187$</string>
            <key>textureFileName</key>
            <string>WaterfallLoop.png</string>
        </dict>
    </dict>
</plist>
