<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>goblinsword1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,36}</string>
                <key>spriteSourceSize</key>
                <string>{37,36}</string>
                <key>textureRect</key>
                <string>{{84,0},{37,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goblinsword10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,34}</string>
                <key>spriteSourceSize</key>
                <string>{38,34}</string>
                <key>textureRect</key>
                <string>{{0,0},{38,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goblinsword11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,39}</string>
                <key>spriteSourceSize</key>
                <string>{38,39}</string>
                <key>textureRect</key>
                <string>{{0,76},{38,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goblinsword12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,38}</string>
                <key>spriteSourceSize</key>
                <string>{37,38}</string>
                <key>textureRect</key>
                <string>{{95,37},{37,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goblinsword13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,34}</string>
                <key>spriteSourceSize</key>
                <string>{46,34}</string>
                <key>textureRect</key>
                <string>{{38,0},{46,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goblinsword14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,41}</string>
                <key>spriteSourceSize</key>
                <string>{52,41}</string>
                <key>textureRect</key>
                <string>{{163,156},{52,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goblinsword15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,40}</string>
                <key>spriteSourceSize</key>
                <string>{46,40}</string>
                <key>textureRect</key>
                <string>{{116,76},{46,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goblinsword16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,40}</string>
                <key>spriteSourceSize</key>
                <string>{51,40}</string>
                <key>textureRect</key>
                <string>{{162,76},{51,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goblinsword17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,40}</string>
                <key>spriteSourceSize</key>
                <string>{58,40}</string>
                <key>textureRect</key>
                <string>{{0,116},{58,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goblinsword18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,37}</string>
                <key>spriteSourceSize</key>
                <string>{58,37}</string>
                <key>textureRect</key>
                <string>{{198,0},{58,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goblinsword19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,40}</string>
                <key>spriteSourceSize</key>
                <string>{49,40}</string>
                <key>textureRect</key>
                <string>{{58,116},{49,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goblinsword2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,39}</string>
                <key>spriteSourceSize</key>
                <string>{38,39}</string>
                <key>textureRect</key>
                <string>{{132,37},{38,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goblinsword20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,39}</string>
                <key>spriteSourceSize</key>
                <string>{41,39}</string>
                <key>textureRect</key>
                <string>{{38,76},{41,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goblinsword21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,37}</string>
                <key>spriteSourceSize</key>
                <string>{41,37}</string>
                <key>textureRect</key>
                <string>{{0,37},{41,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goblinsword22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,40}</string>
                <key>spriteSourceSize</key>
                <string>{49,40}</string>
                <key>textureRect</key>
                <string>{{107,116},{49,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goblinsword23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,40}</string>
                <key>spriteSourceSize</key>
                <string>{59,40}</string>
                <key>textureRect</key>
                <string>{{156,116},{59,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goblinsword24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,37}</string>
                <key>spriteSourceSize</key>
                <string>{54,37}</string>
                <key>textureRect</key>
                <string>{{41,37},{54,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goblinsword25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,40}</string>
                <key>spriteSourceSize</key>
                <string>{48,40}</string>
                <key>textureRect</key>
                <string>{{0,156},{48,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goblinsword26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,39}</string>
                <key>spriteSourceSize</key>
                <string>{37,39}</string>
                <key>textureRect</key>
                <string>{{79,76},{37,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goblinsword3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,41}</string>
                <key>spriteSourceSize</key>
                <string>{37,41}</string>
                <key>textureRect</key>
                <string>{{48,156},{37,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goblinsword4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,36}</string>
                <key>spriteSourceSize</key>
                <string>{37,36}</string>
                <key>textureRect</key>
                <string>{{121,0},{37,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goblinsword5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,39}</string>
                <key>spriteSourceSize</key>
                <string>{38,39}</string>
                <key>textureRect</key>
                <string>{{170,37},{38,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goblinsword6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,41}</string>
                <key>spriteSourceSize</key>
                <string>{38,41}</string>
                <key>textureRect</key>
                <string>{{85,156},{38,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goblinsword7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,36}</string>
                <key>spriteSourceSize</key>
                <string>{40,36}</string>
                <key>textureRect</key>
                <string>{{158,0},{40,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goblinsword8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,39}</string>
                <key>spriteSourceSize</key>
                <string>{40,39}</string>
                <key>textureRect</key>
                <string>{{208,37},{40,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goblinsword9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,41}</string>
                <key>spriteSourceSize</key>
                <string>{40,41}</string>
                <key>textureRect</key>
                <string>{{123,156},{40,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GoblinSword.png</string>
            <key>size</key>
            <string>{256,197}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d81b5f73561d71618b1b2ad5a18e074:a14d166ca170fe5fd901d1d511983b5e:04550f6b30e68807e32cdf14ff8195a7$</string>
            <key>textureFileName</key>
            <string>GoblinSword.png</string>
        </dict>
    </dict>
</plist>
