<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GoblinHam1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,42}</string>
                <key>spriteSourceSize</key>
                <string>{35,42}</string>
                <key>textureRect</key>
                <string>{{0,0},{35,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GoblinHam2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,41}</string>
                <key>spriteSourceSize</key>
                <string>{33,41}</string>
                <key>textureRect</key>
                <string>{{35,0},{33,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GoblinHam3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{68,0},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GoblinHam4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,40}</string>
                <key>spriteSourceSize</key>
                <string>{35,40}</string>
                <key>textureRect</key>
                <string>{{0,42},{35,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GoblinHam5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,40}</string>
                <key>spriteSourceSize</key>
                <string>{36,40}</string>
                <key>textureRect</key>
                <string>{{35,42},{36,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GoblinHam6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,40}</string>
                <key>spriteSourceSize</key>
                <string>{39,40}</string>
                <key>textureRect</key>
                <string>{{71,42},{39,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SNES - Chrono Trigger - Goblin Ogan Flunky &amp; Groupie_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,43}</string>
                <key>spriteSourceSize</key>
                <string>{30,43}</string>
                <key>textureRect</key>
                <string>{{81,307},{30,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SNES - Chrono Trigger - Goblin Ogan Flunky &amp; Groupie_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,46}</string>
                <key>spriteSourceSize</key>
                <string>{31,46}</string>
                <key>textureRect</key>
                <string>{{0,350},{31,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SNES - Chrono Trigger - Goblin Ogan Flunky &amp; Groupie_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,40}</string>
                <key>spriteSourceSize</key>
                <string>{33,40}</string>
                <key>textureRect</key>
                <string>{{31,350},{33,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SNES - Chrono Trigger - Goblin Ogan Flunky &amp; Groupie_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,44}</string>
                <key>spriteSourceSize</key>
                <string>{27,44}</string>
                <key>textureRect</key>
                <string>{{64,350},{27,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SNES - Chrono Trigger - Goblin Ogan Flunky &amp; Groupie_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,44}</string>
                <key>spriteSourceSize</key>
                <string>{46,44}</string>
                <key>textureRect</key>
                <string>{{0,396},{46,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SNES - Chrono Trigger - Goblin Ogan Flunky &amp; Groupie_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{46,396},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goblinham10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,34}</string>
                <key>spriteSourceSize</key>
                <string>{48,34}</string>
                <key>textureRect</key>
                <string>{{0,150},{48,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goblinham11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,36}</string>
                <key>spriteSourceSize</key>
                <string>{45,36}</string>
                <key>textureRect</key>
                <string>{{48,150},{45,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goblinham12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,41}</string>
                <key>spriteSourceSize</key>
                <string>{45,41}</string>
                <key>textureRect</key>
                <string>{{0,186},{45,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goblinham13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,40}</string>
                <key>spriteSourceSize</key>
                <string>{55,40}</string>
                <key>textureRect</key>
                <string>{{45,186},{55,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goblinham14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,41}</string>
                <key>spriteSourceSize</key>
                <string>{51,41}</string>
                <key>textureRect</key>
                <string>{{0,227},{51,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goblinham15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,39}</string>
                <key>spriteSourceSize</key>
                <string>{42,39}</string>
                <key>textureRect</key>
                <string>{{51,227},{42,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goblinham16 copy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,39}</string>
                <key>spriteSourceSize</key>
                <string>{48,39}</string>
                <key>textureRect</key>
                <string>{{0,268},{48,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goblinham16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,39}</string>
                <key>spriteSourceSize</key>
                <string>{53,39}</string>
                <key>textureRect</key>
                <string>{{48,268},{53,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goblinham17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,37}</string>
                <key>spriteSourceSize</key>
                <string>{40,37}</string>
                <key>textureRect</key>
                <string>{{0,307},{40,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goblinham18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,37}</string>
                <key>spriteSourceSize</key>
                <string>{41,37}</string>
                <key>textureRect</key>
                <string>{{40,307},{41,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goblinham7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,34}</string>
                <key>spriteSourceSize</key>
                <string>{46,34}</string>
                <key>textureRect</key>
                <string>{{0,82},{46,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goblinham8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,34}</string>
                <key>spriteSourceSize</key>
                <string>{48,34}</string>
                <key>textureRect</key>
                <string>{{46,82},{48,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goblinham9.1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,34}</string>
                <key>spriteSourceSize</key>
                <string>{44,34}</string>
                <key>textureRect</key>
                <string>{{0,116},{44,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goblinham9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,34}</string>
                <key>spriteSourceSize</key>
                <string>{43,34}</string>
                <key>textureRect</key>
                <string>{{44,116},{43,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GoblinHammer.png</string>
            <key>size</key>
            <string>{111,440}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:722a2e92384d165f11ea00166adecb8e:adc8e6bb87cabd7b21925ddcce1292fe:d3494a1eb61ef9dbf1e06fd8ed336d51$</string>
            <key>textureFileName</key>
            <string>GoblinHammer.png</string>
        </dict>
    </dict>
</plist>
